USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 19/08/2026 10:21:37 SA ******/
CREATE DATABASE [QuanLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[Adult]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adult](
	[IdReader] [varchar](10) NOT NULL,
	[Identify] [varchar](12) NULL,
	[Address] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
	[boF] [datetime] NOT NULL,
	[Summary] [ntext] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] NOT NULL,
	[ISBN] [varchar](10) NOT NULL,
	[IdPublisher] [varchar](10) NOT NULL,
	[IdTranslator] [varchar](10) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[PublishDate] [datetime] NOT NULL,
	[Price] [decimal](12, 3) NOT NULL,
	[PriceCurrent] [decimal](12, 3) NOT NULL,
	[Note] [ntext] NULL,
	[IdBookStatus] [varchar](10) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookISBN]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookISBN](
	[ISBN] [varchar](10) NOT NULL,
	[IdBookTitle] [varchar](10) NOT NULL,
	[IdAuthor] [varchar](10) NOT NULL,
	[OriginLanguage] [nvarchar](50) NOT NULL,
	[Description] [ntext] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookStatus]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookStatus](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [ntext] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTitle]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTitle](
	[Id] [varchar](10) NOT NULL,
	[IdCategory] [varchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Note] [ntext] NULL,
	[Summary] [ntext] NOT NULL,
	[UrlImage] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Child]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Child](
	[IdReader] [varchar](10) NOT NULL,
	[IdAdult] [varchar](10) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Function]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Function](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Description] [ntext] NOT NULL,
	[IdParent] [varchar](10) NULL,
	[UrlImage] [text] NULL,
	[IsAdmin] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanDetail]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanDetail](
	[Id] [varchar](10) NOT NULL,
	[IdLoan] [varchar](10) NOT NULL,
	[IdBook] [int] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanDetailHistory]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanDetailHistory](
	[Id] [varchar](10) NOT NULL,
	[IdLoanHistory] [varchar](10) NOT NULL,
	[IdBook] [int] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[PaidMoney] [decimal](12, 3) NOT NULL,
	[Note] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanHistory]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanHistory](
	[Id] [varchar](10) NOT NULL,
	[IdUser] [varchar](10) NOT NULL,
	[IdReader] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LoanDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[LoanPaid] [decimal](12, 3) NOT NULL,
	[Deposit] [decimal](12, 3) NOT NULL,
	[FineMoney] [decimal](12, 3) NOT NULL,
	[Total] [decimal](12, 3) NOT NULL,
	[Note] [nvarchar](50) NULL,
	[CreateAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanSlip]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanSlip](
	[Id] [varchar](10) NOT NULL,
	[IdUser] [varchar](10) NOT NULL,
	[IdReader] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LoanDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[LoanPaid] [decimal](12, 3) NOT NULL,
	[Deposit] [decimal](12, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameter]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameter](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [ntext] NOT NULL,
	[Value] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PenaltyReason]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PenaltyReason](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [ntext] NOT NULL,
	[Price] [decimal](12, 3) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader](
	[Id] [varchar](10) NOT NULL,
	[LName] [nvarchar](100) NOT NULL,
	[FName] [nvarchar](20) NOT NULL,
	[boF] [datetime] NOT NULL,
	[ReaderType] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Group] [nvarchar](60) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFunction]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFunction](
	[Id] [varchar](10) NOT NULL,
	[IdRole] [varchar](10) NOT NULL,
	[IdFunction] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistical]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistical](
	[DateTime] [datetime] NOT NULL,
	[Data] [varchar](100) NOT NULL,
	[Description] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translator]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translator](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
	[boF] [datetime] NOT NULL,
	[Summary] [ntext] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [varchar](10) NOT NULL,
	[Username] [varchar](60) NOT NULL,
	[Password] [varchar](60) NOT NULL,
	[Note] [ntext] NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[IdUser] [varchar](10) NOT NULL,
	[LName] [nvarchar](60) NOT NULL,
	[FName] [nvarchar](60) NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 19/08/2026 10:21:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [varchar](10) NOT NULL,
	[IdUser] [varchar](10) NOT NULL,
	[IdRole] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Adult] ([IdReader], [Identify], [Address], [City], [Phone], [ExpireDate], [CreatedAt], [ModifiedAt]) VALUES (N'R01', N'123456789012', N'Số 2, Lê Thắng Tôn', N'Khánh Hòa', N'0935768249', CAST(N'2026-08-30T00:00:00.000' AS DateTime), CAST(N'2024-09-12T00:00:00.000' AS DateTime), CAST(N'2024-09-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Adult] ([IdReader], [Identify], [Address], [City], [Phone], [ExpireDate], [CreatedAt], [ModifiedAt]) VALUES (N'R02', N'234567890123', N'Số 10 Trần Quý Cáp', N'Khánh Hòa', N'0123222111', CAST(N'2026-08-30T00:00:00.000' AS DateTime), CAST(N'2024-09-10T00:00:00.000' AS DateTime), CAST(N'2024-09-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Adult] ([IdReader], [Identify], [Address], [City], [Phone], [ExpireDate], [CreatedAt], [ModifiedAt]) VALUES (N'R03', N'345678901234', N'Số 3 Trần Nhân Tông', N'Khánh Hòa', N'0145333111', CAST(N'2026-08-30T00:00:00.000' AS DateTime), CAST(N'2022-09-12T00:00:00.000' AS DateTime), CAST(N'2022-09-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Author] ([Id], [Name], [Description], [boF], [Summary], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'A01', N'Nguyễn Nhật Ánh', N'Tác giả của nhiều tác phẩm văn học nổi tiếng như "Cho tôi xin một vé đi tuổi thơ", "Kính vạn hoa", "Tôi thấy hoa vàng trên cỏ xanh"', CAST(N'1980-11-05T00:00:00.000' AS DateTime), N'Tác giả nổi tiếng Việt Nam', 1, CAST(N'2020-02-02T00:00:00.000' AS DateTime), CAST(N'2020-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Author] ([Id], [Name], [Description], [boF], [Summary], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'A02', N'Ngô Thị Thúy Vân', N'Tác giả của cuốn sách "Bí mật của tôi" được đánh giá cao về nội dung và phong cách viết', CAST(N'1999-07-02T00:00:00.000' AS DateTime), N'Tác giả triển vọng', 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Author] ([Id], [Name], [Description], [boF], [Summary], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'A03', N'Lê Minh Tú', N'Tác giả của cuốn sách "Sống thật lòng" đã gây được tiếng vang lớn trong giới trẻ', CAST(N'1994-11-02T00:00:00.000' AS DateTime), N'Tác giả trẻ có tầm ảnh hưởng', 1, CAST(N'2021-01-01T00:00:00.000' AS DateTime), CAST(N'2021-01-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Book] ([Id], [ISBN], [IdPublisher], [IdTranslator], [Language], [PublishDate], [Price], [PriceCurrent], [Note], [IdBookStatus], [Status], [CreatedAt], [ModifiedAt]) VALUES (1, N'ISBN01', N'P01', N'T01', N'Tiếng Việt', CAST(N'2023-04-02T12:00:00.000' AS DateTime), CAST(120.000 AS Decimal(12, 3)), CAST(120.000 AS Decimal(12, 3)), N'', N'BS2', 0, CAST(N'2023-04-02T12:00:00.000' AS DateTime), CAST(N'2023-04-02T12:00:00.000' AS DateTime))
INSERT [dbo].[Book] ([Id], [ISBN], [IdPublisher], [IdTranslator], [Language], [PublishDate], [Price], [PriceCurrent], [Note], [IdBookStatus], [Status], [CreatedAt], [ModifiedAt]) VALUES (2, N'ISBN01', N'P01', N'T01', N'Tiếng Việt', CAST(N'2023-05-02T14:00:00.000' AS DateTime), CAST(120.000 AS Decimal(12, 3)), CAST(120.000 AS Decimal(12, 3)), N'', N'BS3', 1, CAST(N'2023-05-02T14:00:00.000' AS DateTime), CAST(N'2023-05-02T14:00:00.000' AS DateTime))
INSERT [dbo].[Book] ([Id], [ISBN], [IdPublisher], [IdTranslator], [Language], [PublishDate], [Price], [PriceCurrent], [Note], [IdBookStatus], [Status], [CreatedAt], [ModifiedAt]) VALUES (3, N'ISBN01', N'P02', N'T02', N'Tiếng Việt', CAST(N'2023-06-02T15:30:00.000' AS DateTime), CAST(120.000 AS Decimal(12, 3)), CAST(120.000 AS Decimal(12, 3)), N'', N'BS2', 0, CAST(N'2023-06-02T15:30:00.000' AS DateTime), CAST(N'2023-06-02T15:30:00.000' AS DateTime))
GO
INSERT [dbo].[BookISBN] ([ISBN], [IdBookTitle], [IdAuthor], [OriginLanguage], [Description], [Status]) VALUES (N'ISBN01', N'BT01', N'A03', N'Tiếng Việt', NULL, 1)
INSERT [dbo].[BookISBN] ([ISBN], [IdBookTitle], [IdAuthor], [OriginLanguage], [Description], [Status]) VALUES (N'ISBN02', N'BT01', N'A01', N'Tiếng Nhật', NULL, 1)
INSERT [dbo].[BookISBN] ([ISBN], [IdBookTitle], [IdAuthor], [OriginLanguage], [Description], [Status]) VALUES (N'ISBN03', N'BT01', N'A02', N'Tiếng Pháp', NULL, 1)
GO
INSERT [dbo].[BookStatus] ([Id], [Name], [Description], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'BS1', N'Normal', N'The book is normal', 1, CAST(N'2023-09-01T15:00:00.000' AS DateTime), CAST(N'2023-09-01T15:00:00.000' AS DateTime))
INSERT [dbo].[BookStatus] ([Id], [Name], [Description], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'BS2', N'Lost', N'The book is lost', 1, CAST(N'2023-09-01T15:00:00.000' AS DateTime), CAST(N'2023-09-01T15:00:00.000' AS DateTime))
INSERT [dbo].[BookStatus] ([Id], [Name], [Description], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'BS3', N'Spoil', N'The book is spoil', 1, CAST(N'2023-09-01T15:00:00.000' AS DateTime), CAST(N'2023-09-01T15:00:00.000' AS DateTime))
GO
INSERT [dbo].[BookTitle] ([Id], [IdCategory], [Name], [Note], [Summary], [UrlImage]) VALUES (N'BT01', N'C03', N'Tư Duy Pháp Lý Của Luật Sư', N'', N'Nội dung hấp dẫn', N'/Assets/BookImages/BT01.png')
INSERT [dbo].[BookTitle] ([Id], [IdCategory], [Name], [Note], [Summary], [UrlImage]) VALUES (N'BT02', N'C01', N'Doraemon', N'', N'Cuốn sách rất thú vị và đáng đọc', N'/Assets/BookImages/BT02.png')
INSERT [dbo].[BookTitle] ([Id], [IdCategory], [Name], [Note], [Summary], [UrlImage]) VALUES (N'BT03', N'C02', N'Giết con chim nhại', N'', N'Một cuốn sách tuyệt vời cho những người yêu thích thể loại tiểu thuyết', N'/Assets/BookImages/BT03.png')
GO
INSERT [dbo].[Category] ([Id], [Name], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'C01', N'Truyện tranh', 1, CAST(N'2023-09-14T00:00:00.000' AS DateTime), CAST(N'2023-09-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'C02', N'Tiểu thuyết', 1, CAST(N'2023-09-15T00:00:00.000' AS DateTime), CAST(N'2023-09-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'C03', N'Luật Pháp', 1, CAST(N'2023-09-16T00:00:00.000' AS DateTime), CAST(N'2023-09-16T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Child] ([IdReader], [IdAdult], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'R04', N'R01', 0, CAST(N'2023-09-14T00:00:00.000' AS DateTime), CAST(N'2023-09-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Child] ([IdReader], [IdAdult], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'R05', N'R01', 0, CAST(N'2023-09-12T00:00:00.000' AS DateTime), CAST(N'2023-09-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Child] ([IdReader], [IdAdult], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'R06', N'R02', 0, CAST(N'2023-09-12T00:00:00.000' AS DateTime), CAST(N'2023-09-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Function] ([Id], [Name], [Description], [IdParent], [UrlImage], [IsAdmin], [Status]) VALUES (N'F1', N'User Management', N'', NULL, N'Assets/Images/13.png', 1, 1)
INSERT [dbo].[Function] ([Id], [Name], [Description], [IdParent], [UrlImage], [IsAdmin], [Status]) VALUES (N'F10', N'Delete feature', N'', N'F7', N'Assets/Images/8.png', 1, 1)
INSERT [dbo].[Function] ([Id], [Name], [Description], [IdParent], [UrlImage], [IsAdmin], [Status]) VALUES (N'F11', N'Restore feature', N'', N'F7', N'Assets/Images/9.png', 1, 1)
GO
INSERT [dbo].[LoanDetailHistory] ([Id], [IdLoanHistory], [IdBook], [ExpDate], [PaidMoney], [Note]) VALUES (N'LDTH01', N'LHT01', 1, CAST(N'2026-08-14T14:16:21.337' AS DateTime), CAST(0.000 AS Decimal(12, 3)), NULL)
INSERT [dbo].[LoanDetailHistory] ([Id], [IdLoanHistory], [IdBook], [ExpDate], [PaidMoney], [Note]) VALUES (N'LDTH02', N'LHT01', 5, CAST(N'2026-08-14T14:16:21.337' AS DateTime), CAST(0.000 AS Decimal(12, 3)), NULL)
INSERT [dbo].[LoanDetailHistory] ([Id], [IdLoanHistory], [IdBook], [ExpDate], [PaidMoney], [Note]) VALUES (N'LDTH03', N'LHT02', 2, CAST(N'2026-08-14T14:17:17.897' AS DateTime), CAST(0.000 AS Decimal(12, 3)), NULL)
GO
INSERT [dbo].[LoanHistory] ([Id], [IdUser], [IdReader], [Quantity], [LoanDate], [ExpDate], [LoanPaid], [Deposit], [FineMoney], [Total], [Note], [CreateAt]) VALUES (N'LHT01', N'U2', N'R01', 2, CAST(N'2026-08-07T14:16:21.337' AS DateTime), CAST(N'2026-08-14T14:16:21.337' AS DateTime), CAST(60.000 AS Decimal(12, 3)), CAST(109.000 AS Decimal(12, 3)), CAST(0.000 AS Decimal(12, 3)), CAST(60.000 AS Decimal(12, 3)), NULL, CAST(N'2026-08-07T14:35:54.350' AS DateTime))
INSERT [dbo].[LoanHistory] ([Id], [IdUser], [IdReader], [Quantity], [LoanDate], [ExpDate], [LoanPaid], [Deposit], [FineMoney], [Total], [Note], [CreateAt]) VALUES (N'LHT02', N'U2', N'R01', 2, CAST(N'2026-08-07T14:17:17.897' AS DateTime), CAST(N'2026-08-14T14:17:17.897' AS DateTime), CAST(60.000 AS Decimal(12, 3)), CAST(109.000 AS Decimal(12, 3)), CAST(0.000 AS Decimal(12, 3)), CAST(60.000 AS Decimal(12, 3)), NULL, CAST(N'2026-08-07T14:37:15.940' AS DateTime))
INSERT [dbo].[LoanHistory] ([Id], [IdUser], [IdReader], [Quantity], [LoanDate], [ExpDate], [LoanPaid], [Deposit], [FineMoney], [Total], [Note], [CreateAt]) VALUES (N'LHT03', N'U2', N'R01', 1, CAST(N'2026-08-07T14:18:01.423' AS DateTime), CAST(N'2026-08-14T14:18:01.423' AS DateTime), CAST(30.000 AS Decimal(12, 3)), CAST(40.000 AS Decimal(12, 3)), CAST(80.000 AS Decimal(12, 3)), CAST(110.000 AS Decimal(12, 3)), NULL, CAST(N'2026-08-07T14:51:19.093' AS DateTime))
GO
INSERT [dbo].[Parameter] ([Id], [Name], [Description], [Value], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'QD1', N'Trẻ em được người lớn bảo lãnh', N'Mỗi độc giả người lớn chỉ có thể bảo lãnh tối đa cho số trẻ em là', N'2', 1, CAST(N'2023-09-01T15:00:00.000' AS DateTime), CAST(N'2023-09-01T15:00:00.000' AS DateTime))
INSERT [dbo].[Parameter] ([Id], [Name], [Description], [Value], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'QD10', N'Số tiền phải trả khi mượn một cuốn sách', N'', N'30.000', 1, CAST(N'2023-09-01T15:00:00.000' AS DateTime), CAST(N'2023-09-01T15:00:00.000' AS DateTime))
INSERT [dbo].[Parameter] ([Id], [Name], [Description], [Value], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'QD11', N'Khi mượn sách, deposit được tính theo % giá hiện tại của cuốn sách', N'', N'50%', 1, CAST(N'2023-09-01T15:00:00.000' AS DateTime), CAST(N'2023-09-01T15:00:00.000' AS DateTime))
GO
INSERT [dbo].[PenaltyReason] ([Id], [Name], [Description], [Price], [CreatedAt], [ModifiedAt]) VALUES (N'PR1', N'None', N'', CAST(0.000 AS Decimal(12, 3)), CAST(N'2023-09-01T15:00:00.000' AS DateTime), CAST(N'2023-09-01T15:00:00.000' AS DateTime))
INSERT [dbo].[PenaltyReason] ([Id], [Name], [Description], [Price], [CreatedAt], [ModifiedAt]) VALUES (N'PR2', N'Lost the book', N'Khi độc giả làm mất sách, độc giả phải trả đúng số tiền hiện tại của cuốn sách đó và thủ thư sẽ lấy luôn Deposit của cuốn sách đó', CAST(0.000 AS Decimal(12, 3)), CAST(N'2023-09-01T15:00:00.000' AS DateTime), CAST(N'2023-09-01T15:00:00.000' AS DateTime))
INSERT [dbo].[PenaltyReason] ([Id], [Name], [Description], [Price], [CreatedAt], [ModifiedAt]) VALUES (N'PR3', N'Spoil the book', N'Khi độc giả làm hư cuốn sách, thủ thư sẽ phạt số tiền tùy theo mức độ hư hại của cuốn sách, ngoài ra thủ thư có thể gửi thông báo đến admin để cập nhập lại giá tiền của cuốn sách', CAST(0.000 AS Decimal(12, 3)), CAST(N'2023-09-01T15:00:00.000' AS DateTime), CAST(N'2023-09-01T15:00:00.000' AS DateTime))
GO
INSERT [dbo].[Province] ([Id], [Name], [Status]) VALUES (1, N'Hà Nội', 1)
INSERT [dbo].[Province] ([Id], [Name], [Status]) VALUES (2, N'Hồ Chí Minh', 1)
INSERT [dbo].[Province] ([Id], [Name], [Status]) VALUES (3, N'Đà Nẵng', 1)
GO
INSERT [dbo].[Publisher] ([Id], [Name], [Phone], [Address]) VALUES (N'P01', N'NXB Kim Đồng', N'0901931765', N'79 Hoàng Hoa Thám')
INSERT [dbo].[Publisher] ([Id], [Name], [Phone], [Address]) VALUES (N'P02', N'NXB Kim Lân', N'0901000765', N'79 Hoàng Hoa Thụ')
INSERT [dbo].[Publisher] ([Id], [Name], [Phone], [Address]) VALUES (N'P03', N'NXB Hải Quân', N'0101000765', N'79 Hoàng Hoa Hái')
GO
INSERT [dbo].[Reader] ([Id], [LName], [FName], [boF], [ReaderType], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'R01', N'Trần Văn', N'A', CAST(N'1970-12-11T00:00:00.000' AS DateTime), 1, 1, CAST(N'2023-09-12T00:00:00.000' AS DateTime), CAST(N'2023-09-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Reader] ([Id], [LName], [FName], [boF], [ReaderType], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'R02', N'Nguyễn Thị', N'Hà', CAST(N'1970-01-11T00:00:00.000' AS DateTime), 1, 1, CAST(N'2023-09-10T00:00:00.000' AS DateTime), CAST(N'2023-09-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Reader] ([Id], [LName], [FName], [boF], [ReaderType], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'R03', N'Nguyễn Văn', N'Bưởi', CAST(N'1970-02-11T00:00:00.000' AS DateTime), 1, 1, CAST(N'2022-09-12T00:00:00.000' AS DateTime), CAST(N'2022-09-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Role] ([Id], [Name], [Group], [Status]) VALUES (N'R1', N'admin', N'administration', 1)
INSERT [dbo].[Role] ([Id], [Name], [Group], [Status]) VALUES (N'R2', N'librarian 1', N'librarian', 1)
INSERT [dbo].[Role] ([Id], [Name], [Group], [Status]) VALUES (N'R3', N'librarian 2', N'librarian', 1)
GO
INSERT [dbo].[RoleFunction] ([Id], [IdRole], [IdFunction]) VALUES (N'RF1', N'R1', N'F1')
INSERT [dbo].[RoleFunction] ([Id], [IdRole], [IdFunction]) VALUES (N'RF10', N'R1', N'F10')
INSERT [dbo].[RoleFunction] ([Id], [IdRole], [IdFunction]) VALUES (N'RF100', N'R4', N'F32')
GO
INSERT [dbo].[Statistical] ([DateTime], [Data], [Description]) VALUES (CAST(N'2024-03-25T12:00:00.000' AS DateTime), N'10|15|18', N'')
INSERT [dbo].[Statistical] ([DateTime], [Data], [Description]) VALUES (CAST(N'2024-03-26T12:00:00.000' AS DateTime), N'11|14|18', N'')
INSERT [dbo].[Statistical] ([DateTime], [Data], [Description]) VALUES (CAST(N'2024-03-27T12:00:00.000' AS DateTime), N'16|14|24', N'')
GO
INSERT [dbo].[Translator] ([Id], [Name], [Description], [boF], [Summary], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'T01', N'Nguyễn Nhật Ánh', N'Tác giả của nhiều tác phẩm văn học nổi tiếng như "Cho tôi xin một vé đi tuổi thơ", "Kính vạn hoa", "Tôi thấy hoa vàng trên cỏ xanh"', CAST(N'1980-11-05T00:00:00.000' AS DateTime), N'Tác giả nổi tiếng Việt Nam', 1, CAST(N'2020-02-02T00:00:00.000' AS DateTime), CAST(N'2020-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Translator] ([Id], [Name], [Description], [boF], [Summary], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'T02', N'Ngô Thị Thúy Vân', N'Tác giả của cuốn sách "Bí mật của tôi" được đánh giá cao về nội dung và phong cách viết', CAST(N'1999-07-02T00:00:00.000' AS DateTime), N'Tác giả triển vọng', 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Translator] ([Id], [Name], [Description], [boF], [Summary], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'T03', N'Lê Minh Tú', N'Tác giả của cuốn sách "Sống thật lòng" đã gây được tiếng vang lớn trong giới trẻ', CAST(N'1994-11-02T00:00:00.000' AS DateTime), N'Tác giả trẻ có tầm ảnh hưởng', 1, CAST(N'2021-01-01T00:00:00.000' AS DateTime), CAST(N'2021-01-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[User] ([Id], [Username], [Password], [Note], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'U1', N'nhatminh', N'nhatminh', N'', 1, CAST(N'2023-10-20T18:20:00.000' AS DateTime), CAST(N'2023-10-20T18:20:00.000' AS DateTime))
INSERT [dbo].[User] ([Id], [Username], [Password], [Note], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'U2', N'hungvuong', N'hungvuong', N'', 1, CAST(N'2023-10-20T18:25:00.000' AS DateTime), CAST(N'2023-10-20T18:25:00.000' AS DateTime))
INSERT [dbo].[User] ([Id], [Username], [Password], [Note], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'U3', N'anhquoc', N'anhquoc', N'', 1, CAST(N'2023-10-20T18:30:00.000' AS DateTime), CAST(N'2023-10-20T18:30:00.000' AS DateTime))
GO
INSERT [dbo].[UserInfo] ([IdUser], [LName], [FName], [Phone], [Address]) VALUES (N'U1', N'Dương Nhật', N'Minh', N'0935768249', N'Số 2, Lê Thắng Tôn')
INSERT [dbo].[UserInfo] ([IdUser], [LName], [FName], [Phone], [Address]) VALUES (N'U2', N'Nghiêm Hùng', N'Vương', N'0123222111', N'Số 10 Trần Quý Cáp')
INSERT [dbo].[UserInfo] ([IdUser], [LName], [FName], [Phone], [Address]) VALUES (N'U3', N'Lê Anh', N'Quốc', N'0901931765', N'Số 9 Lư Giang')
GO
INSERT [dbo].[UserRole] ([Id], [IdUser], [IdRole]) VALUES (N'UR1', N'U1', N'R1')
INSERT [dbo].[UserRole] ([Id], [IdUser], [IdRole]) VALUES (N'UR2', N'U2', N'R3')
INSERT [dbo].[UserRole] ([Id], [IdUser], [IdRole]) VALUES (N'UR3', N'U3', N'R3')
GO
ALTER TABLE [dbo].[Author] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ('') FOR [Note]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ('BS1') FOR [IdBookStatus]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[BookISBN] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[BookISBN] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[BookStatus] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[BookStatus] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[BookTitle] ADD  DEFAULT ('') FOR [Note]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Child] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Function] ADD  DEFAULT ((1)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Function] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Parameter] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Parameter] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[PenaltyReason] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Reader] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Statistical] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Translator] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('') FOR [Note]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Adult]  WITH CHECK ADD FOREIGN KEY([IdReader])
REFERENCES [dbo].[Reader] ([Id])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([IdBookStatus])
REFERENCES [dbo].[BookStatus] ([Id])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([IdPublisher])
REFERENCES [dbo].[Publisher] ([Id])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([IdTranslator])
REFERENCES [dbo].[Translator] ([Id])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([ISBN])
REFERENCES [dbo].[BookISBN] ([ISBN])
GO
ALTER TABLE [dbo].[BookISBN]  WITH CHECK ADD FOREIGN KEY([IdAuthor])
REFERENCES [dbo].[Author] ([Id])
GO
ALTER TABLE [dbo].[BookISBN]  WITH CHECK ADD FOREIGN KEY([IdBookTitle])
REFERENCES [dbo].[BookTitle] ([Id])
GO
ALTER TABLE [dbo].[BookTitle]  WITH CHECK ADD FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD FOREIGN KEY([IdAdult])
REFERENCES [dbo].[Adult] ([IdReader])
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD FOREIGN KEY([IdReader])
REFERENCES [dbo].[Reader] ([Id])
GO
ALTER TABLE [dbo].[Function]  WITH CHECK ADD FOREIGN KEY([IdParent])
REFERENCES [dbo].[Function] ([Id])
GO
ALTER TABLE [dbo].[LoanDetail]  WITH CHECK ADD FOREIGN KEY([IdBook])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[LoanDetail]  WITH CHECK ADD FOREIGN KEY([IdLoan])
REFERENCES [dbo].[LoanSlip] ([Id])
GO
ALTER TABLE [dbo].[LoanDetailHistory]  WITH CHECK ADD FOREIGN KEY([IdBook])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[LoanDetailHistory]  WITH CHECK ADD FOREIGN KEY([IdLoanHistory])
REFERENCES [dbo].[LoanHistory] ([Id])
GO
ALTER TABLE [dbo].[LoanHistory]  WITH CHECK ADD FOREIGN KEY([IdReader])
REFERENCES [dbo].[Reader] ([Id])
GO
ALTER TABLE [dbo].[LoanHistory]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[LoanSlip]  WITH CHECK ADD FOREIGN KEY([IdReader])
REFERENCES [dbo].[Reader] ([Id])
GO
ALTER TABLE [dbo].[LoanSlip]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[RoleFunction]  WITH CHECK ADD FOREIGN KEY([IdFunction])
REFERENCES [dbo].[Function] ([Id])
GO
ALTER TABLE [dbo].[RoleFunction]  WITH CHECK ADD FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
USE [master]
GO
